# Importing Libraries

In [42]:
import pandas as pd
import numpy as np

# Read CSV

In [43]:
df_dailyweather = pd.read_csv('/Users/kimberleybrown/Desktop/CODING_ALL/Code_Academy_Berlin/Module01/Module01_Project03/data_provided/CBS_2021-2023_Daily_Weather.csv')
df_hourly_weather = pd.read_csv('/Users/kimberleybrown/Desktop/CODING_ALL/Code_Academy_Berlin/Module01/Module01_Project03/data_provided/CBS_2021-2023_Hourly_Weather.csv')
df_full = pd.read_csv('/Users/kimberleybrown/Desktop/CODING_ALL/Code_Academy_Berlin/Module01/Module01_Project03/data_provided/CBS_2021-2023_Full.csv')

/var/folders/pm/7vn7thz14p556cr_ql9w5xbw0000gn/T/ipykernel_17607/1347799399.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_full = pd.read_csv('/Users/kimberleybrown/Desktop/CODING_ALL/Code_Academy_Berlin/Module01/Module01_Project03/data_provided/CBS_2021-2023_Full.csv')

# SneakPeak Data

## .head()

In [44]:
print('df_dailyweather')
print(df_dailyweather.head())
print('----------')
print('----------')
print('----------')
print('----------')
print('----------')
print('df_hourly_weather')
print(df_hourly_weather.head())
print('----------')
print('----------')
print('----------')
print('----------')
print('----------')
print('df_full')
print(df_full.head())

df_dailyweather
   Casual        Date  Member  Total_rides  apparent_temperature_mean (°C)  \
0     371  2021-01-01     590          961                            -0.9
1    2874  2021-01-02    2844         5718                             4.8
2     495  2021-01-03    1133         1628                             0.9
3     907  2021-01-04    2074         2981                             1.0
4    1057  2021-01-05    2004         3061                             1.4

   temperature_2m_mean (°C)  weathercode (wmo code)  windspeed_10m_max (km/h)
0                       2.3                      63                      10.6
1                       7.6                      61                      19.1
2                       3.9                      63                      13.0
3                       4.1                       3                      13.3
4                       4.0                      51                       9.2
----------
----------
----------
----------
----------
df_hourly_weather
   Casual        Date  Hour  Member  Total_rides  relativehumidity_2m (%)  \
0    20.0  2021-01-01     0    26.0         46.0                       90
1    23.0  2021-01-01     1    23.0         46.0                       88
2    20.0  2021-01-01     2    28.0         48.0                       87
3     9.0  2021-01-01     3     7.0         16.0                       81
4     7.0  2021-01-01     4     5.0         12.0                       77

   temperature_2m (°C)  weathercode (wmo code)  windspeed_10m (km/h)
0                  2.4                       1                  10.2
1                  1.8                       1                  10.0
2                  1.1                       2                  10.1
3                  1.6                       2                  10.6
4                  1.6                       2                   9.9
----------
----------
----------
----------
----------
df_full
            ride_id  rideable_type           started_at             ended_at  \
0  5CB9DFCECF79AF84   classic_bike  2021-01-01 00:08:33  2021-01-01 00:33:53
1  629E059504606547  electric_bike  2021-01-01 00:13:43  2021-01-01 00:29:34
2  E74069873161EE33  electric_bike  2021-01-01 00:14:32  2021-01-01 00:28:45
3  91F95E512CABC46A   classic_bike  2021-01-01 00:15:45  2021-01-01 00:21:20
4  DA46A05139C0EA2F   classic_bike  2021-01-01 00:17:46  2021-01-01 00:21:00

              start_station_name start_station_id  \
0          Maine Ave & 9th St SW          31646.0
1                 10th & U St NW          31111.0
2          17th & Corcoran St NW          31214.0
3  Wilson Blvd. & N. Vermont St.          31926.0
4              11th & Park Rd NW          31651.0

                           end_station_name end_station_id  start_lat  \
0  Rosslyn Metro / Wilson Blvd & Ft Myer Dr        31015.0  38.880440
1                                       NaN            NaN  38.917193
2                      14th & Belmont St NW        31119.0  38.912138
3             Wilson Blvd. & N. Vermont St.        31926.0  38.879477
4                       14th & Newton St NW        31649.0  38.931322

   start_lng    end_lat    end_lng member_casual
0 -77.025236  38.894600 -77.072305        member
1 -77.025894  38.960000 -77.020000        casual
2 -77.038568  38.920870 -77.031691        member
3 -77.114563  38.879477 -77.114563        member
4 -77.028247  38.931991 -77.032956        member

## .columns

In [45]:
print('df_dailyweather')
print(df_dailyweather.columns)
print('----------')
print('----------')
print('----------')
print('----------')
print('----------')
print('df_hourly_weather')
print(df_hourly_weather.columns)
print('----------')
print('----------')
print('----------')
print('----------')
print('----------')
print('df_full')
print(df_full.columns)

df_dailyweather
Index(['Casual', 'Date', 'Member', 'Total_rides',
       'apparent_temperature_mean (°C)', 'temperature_2m_mean (°C)',
       'weathercode (wmo code)', 'windspeed_10m_max (km/h)'],
      dtype='object')
----------
----------
----------
----------
----------
df_hourly_weather
Index(['Casual', 'Date', 'Hour', 'Member', 'Total_rides',
       'relativehumidity_2m (%)', 'temperature_2m (°C)',
       'weathercode (wmo code)', 'windspeed_10m (km/h)'],
      dtype='object')
----------
----------
----------
----------
----------
df_full
Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

# ----------------------------------------------

# Full CSV

## Cleaning

### Check for Null

In [65]:
df_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10693997 entries, 0 to 10693996
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 1.0+ GB

### Check for Null again

In [60]:
df_full.isnull().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    742776
start_station_id      742776
end_station_name      811282
end_station_id        811282
start_lat                  2
start_lng                  2
end_lat                16765
end_lng                16765
member_casual              0
dtype: int64

### Check for duplicated

In [61]:
df_full.duplicated().sum()

np.int64(0)

### Turn to lowerscase no space

In [58]:
df_full.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

### Datetime

In [63]:
df_full['started_at'] = pd.to_datetime(df_full['started_at'])
df_full['ended_at'] = pd.to_datetime(df_full['ended_at'])
print(df_full['started_at'].info())
print(df_full['ended_at'].info())

<class 'pandas.core.series.Series'>
RangeIndex: 10693997 entries, 0 to 10693996
Series name: started_at
Non-Null Count     Dtype
--------------     -----
10693997 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 81.6 MB
None
<class 'pandas.core.series.Series'>
RangeIndex: 10693997 entries, 0 to 10693996
Series name: ended_at
Non-Null Count     Dtype
--------------     -----
10693997 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 81.6 MB
None